/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-size: 10px; font-family: sans-serif;}
body { margin: 0; line-height: 1.42857; }

    /*RIGHT align 
    .mat-list-base .mat-list-item .mat-list-item-content{
        justify-content: flex-end!important;
    }*/



.contentalign div.mat-list-item-content{
     justify-content: flex-end!important;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray!important; 
  border-radius: 10px;
}

.mat-expansion-panel-header-title{
     color: #a7a7a7 !important;
     font-weight: bold;
     line-height: 1.42857;
     margin-right: 13px !important;
}
.mat-expansion-panel-header:focus {
    border: 2px solid #A5C7FE;
}
.send-button:focus {
    border: 2px solid #A5C7FE;
    padding: 2px 14px;
}

h4 {
	font-size: 15px !important;
	font-weight: bold;
	line-height: 1.1;
	color: #333;
}

p {
	font-weight: 600;
    color: #333;
    font-size: 12px;
}

sup {
    font-size: 81%;
    font-weight: 800;
}
.chat-textarea:focus {
    border: 2px solid #A5C7FE;
}
  
.link-break {
    word-break: break-all;
}