@charset "UTF-8";


.fill-height {
    height: 100%;
    position: fixed;
}

.divContainer {
  height:85%;
}

.chatHeader{
	background-color: #1c4196;
	color: #fff;
	font-family: Arial, Helvetica,sans-serif;
}

.connect-failure-message{
    background-color: rgba(255,0,0,.3);
    position: relative;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 13px;
     padding: 10px;
     max-width: 84%;
}


.incoming-message {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    position: relative;

	background-color: #afbbd4;
    position: relative;
    display: block;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 13px;
     /* padding: 10px; */
     white-space: pre-wrap;
     margin-left: 50px;

  }
  
  
  /* speech bubble 13 */
  
  .incoming-message-bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #afbbd4;
    border-top: 15px solid #afbbd4;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
  }

   
.incoming-msg-timestamp {
    font-size: 9px;
    font-weight: bold;
    color: #00000085;
    float: left;
    margin-top: 2px;
    font-family: Arial;
}

   
.outgoing-msg-timestamp {
    font-size: 9px;
    font-weight: bold;
    color: #00000073;
    float: right;
    margin-top: 2px;
    font-family: Arial;
    margin-right: 0 !important;
}

.outgoing-message{
    margin-right: 15px;
    border-radius: 10px;
    background-color: #158fef;
    padding: 10px;
    padding-right: 10px;
    color: #fff;
    position: relative;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 13px;
    word-break: break-word;
}


.outgoing-message-bubble:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #158fef;
    border-right: 15px solid transparent;
    border-top: 15px solid #158fef;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
	height: auto !important;
}



.outgoingMsgWrapper span{
	font-size: 10px !important; 
    font-weight: 700 !important;
    margin-right: 10px;
	vertical-align: bottom;
    align-self: flex-end;
   
}

.outgoingMsgBlock {
    position: absolute;
    top: 10px;
    margin-right: 10px!important;
    right: 10px;
}
.incomingMsgWrapper span{
    /*font-family: Helvetica Neue,Helvetica,Arial,sans-serif !important;*/
    font-size: 10px !important; 
    font-weight: 700 !important;
    margin-left: 7px;
	vertical-align: bottom;
    align-self: flex-end;
}



  
.incomingMsgWrapper{
    /* display: flex; */
    position: relative;
    margin-bottom: 10px;
    text-align: left; 
    transition-property: all;
    transition: 2s;
}
.chatbot-icon-res {
    background-image: url('/assets/icons/bot-icon.png');
    width: 35px;
    height: 35px;
}
.chatbot-icon {
    float: left;
    background-image: url('/assets/icons/bot-icon.png');
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-right: 5px;
    position: absolute;
    margin-top: -5px;
    z-index: 9999;
}

#chatbot-progress {
    transition: 1s;
}

.chatbot-icon-space {
    float: left;
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-right: 5px;
}

.user-icon-res {
    background-image: url('/assets/icons/user-icon.png');
    width: 35px;
    height: 35px;
}

.user-icon {
    float: right;
    background-image: url('/assets/icons/user-icon.png');
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-left: 5px;
    margin-top: -6px;
}



.chatbot-typing {
    background-image: url('/assets/icons/bot-icon.png');
    position: absolute;
    bottom: 78px;
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-right: 5px;
    margin-left: 15px;
}

#preload-resources {
    position: absolute;
    left: -500px;
}

.bot-typing-res {
    background-image: url('/assets/icons/bot-typing.gif');
    width: 86px;
    height: 52px;
}

.bot-typing {
    background-image: url('/assets/icons/bot-typing.gif');
    float: left;
    width: 86px;
    height: 52px;
    background-size: cover;
    margin-left: 5px;
    margin-left: 52px;
    position: absolute;
    bottom: 100px;
}

.suggestionItemWrapper {
    
    border-radius: 15px;
    border: 1px solid #0000002b;
    padding: 5px;
    margin-left: 40px;
    -webkit-box-shadow: 13px 15px 16px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 15px 16px -16px rgba(0,0,0,0.75);
    box-shadow: 13px 15px 16px -16px rgba(0,0,0,0.75);    
}

.suggessions-desc {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 107%;
    margin-left: -5px;
}

.suggestion-item {
    color: #04abef;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-top: 1px solid #0000002e;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    width: 93%;
    margin-left: -4px;
}

.suggestion-item:hover {

    color: white;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0072ff;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    width: 94%;
    margin-left: -5px;
    transition: 500ms;
}

/*Safari issue fix */
@media screen and(-webkit-min-device-pixel-ratio:0) {
    .incomingMsgWrapper {
		max-width: 83% !important;
    }
}

.outgoingMsgWrapper{
    display: flex;
    position: relative;
    margin-bottom: 10px;
    text-align: left;
}

.msg-text-line{
    margin-right: 5px;
}

.display-enable {
    display: block;
    transition-property: all;
    transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.display-disable {
    display: none;
}

/*Safari issue fix */
@media screen and(-webkit-min-device-pixel-ratio:0) {
    .outgoingMsgWrapper {
       float: right !important;
    }
}

/*Safari issue fix */
@media screen and(-webkit-min-device-pixel-ratio:0) {
    .outgoingMsgWrapper span{
        margin-right: 15px !important;
        min-width: 30px !important;       
    }
}
