<!-- <p>ffq-chat-messages works!</p> -->
<div>
<img [hidden]="!(messages.length===0)"  id="load-msg" src="../assets/icons/loading_image.gif" height="50" width="50"/> 
<img [hidden]="!isOrchConnectionFailure"  id="load-msg" src="../assets/icons/loading_image.gif" height="50" width="50"/> 


<div id="preload-resources">
    <div class="user-icon-res"></div>
    <div class="chatbot-icon-res"></div>
    <div class="chatbot-typing-res"></div>
</div>

 <mat-list class="">
 <mat-list-item  *ngFor="let data of messages; index as i; first as isFirst; last as isLast"
 [ngClass]="{'contentalign':data.messageType !== 'eventMessage' && data.userType === 'user'}" >

    <ng-template *ngIf="data.messageType !== 'eventMessage'  then  messageTemplate  else eventTemplate"></ng-template>
    <ng-template #messageTemplate>
        <!-- <mat-list-item> -->
            <div>
                
                    <ng-template  *ngIf="data.userType === 'user' then outgoingMsgTemplate"></ng-template>
                    <ng-template #outgoingMsgTemplate >
                        <div class="outgoingMsgWrapper">
                         
                            <div tabindex="0" role="alert" aria-live="assertive" class="maxWidth outgoing-message outgoing-message-bubble text-left rounded " >
                                <div class="msg-text-line" [innerHTML]= 'data.message | formatter: data.message'>
                                    <!--  {{data.message  | formatter: data.message}} -->
                                 </div>
                                 <span class="text-right outgoing-msg-timestamp">{{data.timeStamp}}</span>
                            </div>
                         
                           
                            <div class="user-icon"></div>
                        </div>
                    </ng-template>
                    <ng-template  *ngIf="data.userType === 'bot' then incomingMsgTemplate"></ng-template>
                    <ng-template #incomingMsgTemplate>
                        <div class="incomingMsgWrapper">
<!-- {{printt(messages)}}; -->

                            <div class="{{i!==0 && messages[i-1].userType=='bot'?' chatbot-icon-space ': ' chatbot-icon ' }}"></div>
                             <div *ngIf="isOrchConnectionFailure === true" class="maxWidth connect-failure-message text-left rounded">
                                {{data.message}}
                            </div>

                            <div  tabindex="0" role="alert" aria-live="assertive" *ngIf="isOrchConnectionFailure !== true" class="maxWidth incoming-message incoming-message-bubble text-left rounded" >
                                <div [innerHTML]= 'data.message | formatter: data.message'>
                                    <!--  {{data.message}} -->
                                 </div>
                                <div class="text-right incoming-msg-timestamp">{{data.timeStamp}}</div>
                            </div>
                            
                           
                        </div>

                    </ng-template>
                    <ng-template  *ngIf="data.messageType === 'suggestionMessage' then incomingSuggestionTemplate"></ng-template>
                    <ng-template #incomingSuggestionTemplate>
                        <!-- hideSuggestion[{{i}}]: {{hideSuggestion[i]}} -->
                        <div ngClass="{{hideSuggestion[i]===false?' display-enable ': ' display-disable '}}" class="incomingMsgWrapper hideSuggestion_{{i}}">
                           <div class="chatbot-icon"></div>
                            <div id= "suggestion-history" class="incomingMsgWrapper">
                                <div class="maxWidth text-left rounded">
                                   <div class="suggestionItemWrapper">
                                       <div class="suggessions-desc">
                                           {{data.message.suggessionsDesc}}
                                        </div>
                                       <div (click)="sendMessage(true, suggestionItem, i)" *ngFor="let suggestionItem of data.message.suggessions" class='suggestion-item'>
                                           {{suggestionItem}}
                                       </div>
                                   </div>
                               </div>
                           </div>
                        </div>

                    </ng-template>
            </div>
       <!--  </mat-list-item> -->
    </ng-template>
    <ng-template #eventTemplate>
        <p matLine class="eventMessages"> {{data.message}}</p>
    </ng-template>
</mat-list-item>
</mat-list>


<div *ngIf="showChatTyping " id="chatbot-progress">
    <div class="chatbot-typing"></div>
    <div class="bot-typing"></div>
</div>
</div>