<div #chatbotContainer class="container" fxFlexFill fxLayout="column" fxLayoutAlign="center">
    <div #chatMsgDisplayArea style="overflow-y: auto; overflow-x: hidden;" fxFlex="75%">
      <app-ffq-chat-messages #ffqChatMsgArea ></app-ffq-chat-messages>
    </div>
    <div fxFlex="26%">              
      <app-ffq-chat-sender #ffqChatSender ></app-ffq-chat-sender>
     </div>
</div>
