  .txtAreaType {
	width: 100%;
    white-space: pre-wrap;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f7f7f7;
    line-height: 13px;
    -webkit-line-break: after-white-space;
    word-wrap: break-word;
    outline-style: none;
    height: 39px;
    display: inline-block;
    font-size: 13px; 
    padding-top: 13px;
    margin: 0px;
    font-family: Arial, Helvetica,sans-serif;
    border: none;
    resize: none;

    margin-left: -5px;
    padding-left: 10px;
    resize: none;
    overflow: auto;
    border: 1px solid #f7f7f7;
    border-top: none;
    border-radius: 21px;
    vertical-align: middle;
}

.panel-footer {
    border-top: 1px solid #e7e7e7!important;
    background-color: #fff!important;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 5px 15px!important;
    padding-right: 2px!important;
    padding-left: 11px!important;
    border-bottom: 1px solid #e7e7e7!important;
    bottom: 0;
    width: 100%;
    background: #f7f7f7;
    position: absolute;
}


.panel-footer textarea#messageToSend {
    border: none;
    background-color: #f7f7f7;
    width: 80%;
    height: 22px;
    position: relative;
    bottom: 2px;
    color: #000;
    font-size: 13px;
    font-family: inherit;
    font-weight: 700;
    resize: none;
}

.panel-footer textarea#messageToSend:focus{
    border: none;
    outline: none;
    resize: none;
}

.panel-footer button:disabled {
    background: url(/../../../assets/icons/submit.png) no-repeat 50%;
}

.panel-footer button {
    width: 20px;
    height: 38px;
    padding: 0;
    margin: 0!important;
    border: none;
    background: url(/../../../assets/icons/submit-active.png) no-repeat 50%;
    position: absolute;
    right: 30px;
    bottom: 6px;
}

/* Chrome/Opera/Safari */
#messageToSend::-webkit-input-placeholder {
    font-family: inherit;
    font-weight: 700;
    color: #0073cf;
    font-size: 13px;
  }
  /* IE 10+ */
  #messageToSend:-ms-input-placeholder {
    font-family: inherit;
    font-weight: 700;
    color: #0073cf !important;
    font-size: 13px;
  }
/* Microsoft Edge */
  #messageToSend::-ms-input-placeholder {
    font-family: inherit;
    font-weight: 700;
    color: #0073cf;
    font-size: 13px;
  }
  /* Firefox 18- */
  #messageToSend:-moz-placeholder {
    font-family: inherit;
    font-weight: 700;
    color: #0073cf;
    font-size: 13px;
  }
  /* Firefox 19+ */
  #messageToSend::-moz-placeholder {
    font-family: inherit;
    font-weight: 700;
    color: #0073cf;
    font-size: 13px;
  }

/*Add ban circle over disabled text area on hover*/
textarea:disabled {
    cursor:not-allowed;
 }
