<!-- <p>ffq-chat-sender works!</p> -->
 <div class="row rowWrapper">
    <div class="col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 colWrapper">
       <!--  <mat-divider></mat-divider> -->
        <div class="panel-footer" >
        	<div class="textAreaWrapper txtAreaType">
	            <textarea class="chat-textarea" name="messageToSend" id="messageToSend" placeholder="Enter your query here" rows="3" [disabled]="(messages.length===0)" (keyup)="onKeyUp($event)" [(ngModel)]="userMessage">
	            </textarea>
	            	<button  class="send-button" [disabled]="!enableSendButton" (click)="sendMessage()"></button>
	         </div>
        </div>
    </div>
</div>
